include pug/vars/vars
doctype html
html
    head
        include pug/mianParts/meta
        title testing project
        include pug/mianParts/style
    body
        include pug/mianParts/navbar
        include pug/mianParts/carousel
        include pug/mianParts/services
        include pug/mianParts/team
        include pug/mianParts/client
        include pug/mianParts/projects
        include pug/mianParts/up-foot
        include pug/mianParts/footer
        include pug/mianParts/script