- var cont = "container"

//- carousel vars
- var carouselHeadcontant = ["Second slide label" ];
- var carouselPraghcontant = ["This Is Test Paragraph Number One"];
- var carouselImgsrce = ["img/header.jpg"];
- var contant = ["all", "mobile", "coffee", "video"];