section(class="client text-center")
    div(class=cont)
        h2(class="h1 text-capitalize") what our clients say
        div(class="client-contant active")
            p(class="text-capitalize") "hello this is very cool website and i loved it so much because reason test hello this is very cool website and i                                lovedit so much because reason test hello this is very cool website and i loved it so much because reason test"
            span(class="text-capitalize") maged
        div(class="client-contant")
            p(class="text-capitalize") "hello this is very cool website and i loved it so much because reason test hello this is very cool website and i                                lovedit so much because reason test hello this is very cool website and i loved it so much because reason test"
            span(class="text-capitalize") manar
        div(class="client-contant")
            p(class="text-capitalize") "hello this is very cool website and i loved it so much because reason test hello this is very cool website and i                                lovedit so much because reason test hello this is very cool website and i loved it so much because reason test"
            span(class="text-capitalize") ahmed