//start services
section(class="services")
    div(class=cont)
        h3(class="text-capitalize head-after") our services
        div(class="row")
            div(class="col-md-4")
                div(class="media")
                    i(class="fas fa-laptop fa-3x mr-3")
                    div(class="media-body")
                        h5(class="mt-0 text-capitalize") responsive
                        p Nam vel eleifend que fusce consequat pretium velit vitae. Vulputate nullam pharetra lorem laoreet. Etiam sollicitudin magna       nullam.
            div(class="col-md-4")
                div(class="media")
                    i(class="fas fa-copy fa-3x mr-3")
                    div(class="media-body")
                        h5(class="mt-0 text-capitalize") cloud srvices
                        p Nam vel eleifend que fusce consequat pretium velit vitae. Vulputate nullam pharetra lorem laoreet. Etiam sollicitudin magna       nullam.
            div(class="col-md-4")
                div(class="media")
                    i(class="fas fa-lightbulb fa-3x mr-3")
                    div(class="media-body")
                        h5(class="mt-0 text-capitalize") fresh ideas
                        p Nam vel eleifend que fusce consequat pretium velit vitae. Vulputate nullam pharetra lorem laoreet. Etiam sollicitudin magna       nullam.
            div(class="col-md-4")
                div(class="media")
                    i(class="fas fa-envelope fa-3x mr-3")
                    div(class="media-body")
                        h5(class="mt-0 text-capitalize") attachments
                        p Nam vel eleifend que fusce consequat pretium velit vitae. Vulputate nullam pharetra lorem laoreet. Etiam sollicitudin magna       nullam.
            div(class="col-md-4")
                div(class="media")
                    i(class="fas fa-star fa-3x mr-3")
                    div(class="media-body")
                        h5(class="mt-0 text-capitalize") support video
                        p Nam vel eleifend que fusce consequat pretium velit vitae. Vulputate nullam pharetra lorem laoreet. Etiam sollicitudin magna       nullam.
            div(class="col-md-4")
                div(class="media")
                    i(class="fas fa-heart fa-3x mr-3")
                    div(class="media-body")
                        h5(class="mt-0 text-capitalize") lovely design
                        p Nam vel eleifend que fusce consequat pretium velit vitae. Vulputate nullam pharetra lorem laoreet. Etiam sollicitudin magna       nullam.
//end services