//start team

section(class="team")
    div(class=cont)
        div(class="row")
            div(class="col-md-5")
                div(class="team-contant")
                    h3(class="text-capitalize head-after") our team
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a lacus facilisis, placerat magna sit amet, rhoncus lacus. Cras     porta eget nibh vel vehicula. Phasellus ullamcorper odio sit amet felis congue, id porta sapien tincidunt. Ut id sem malesuada,       dapibus.
            div(class="col-md-7")
                .team-img
                    ul(class="row list-unstyled")
                        each src in ["img/01.png","img/02.png","img/03.png","img/04.png"]
                            li(class="col-md-3")
                                img( src=src)
                                
//end team