//start up0footer
section(class="up-footer")
    div(class=cont)
        div(class="row")
            div(class="col-md-3")
                div(class="part-1")
                    h5(class="text-capitalize") about classic
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a lacus facilisis, placerat magna sit amet
                    ul(class="list-unstyled")
                        li 
                            i(class="fab fa-facebook-f")
                        li
                            i(class="fab fa-google-plus-g")
                        li
                            i(class="fab fa-twitter")
            div(class="col-md-3")
               div(class="part-2")
                    h5(class="text-capitalize") tags
                    ul(class="list-unstyled")
                        each tag in ["html", "css", "photoshop", "responsive", "art"]
                            li(class="text-capitalize")= tag
            div(class="col-md-3")
                h5(class="text-capitalize") recent posts
                div(class="part-3")
                    div(class="media")
                        img(src="img/footer/01.png" class="mr-3" alt="...")
                        div(class="media-body")
                            h6(class="mt-0 text-capitalize") how to get ride
                            span June, 2014
                    div(class="media")
                        img(src="img/footer/02.jpg" class="mr-3" alt="...")
                        div(class="media-body")
                            h6(class="mt-0 text-capitalize") how to get ride
                            span June, 2014
                    div(class="media")
                        img(src="img/footer/03.jpg" class="mr-3" alt="...")
                        div(class="media-body")
                            h6(class="mt-0 text-capitalize") how to get ride
                            span June, 2014
            div(class="col-md-3")
               div(class="part-4")
                    h5(class="text-capitalize") blog categories
                    ul(class="list-unstyled")
                        each prop in ["agency", "business", "multi purpose", "audio"]
                            li(class="text-capitalize")= prop
                    
                
                        
//end up0footer


